a { cursor: pointer; }

.app-container {
    min-height: 350px;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.login-card-container {
  max-width: 400px;
  width: 100%;
  margin: 40px auto;
  padding: 24px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
  border-radius: 8px;
  background: #fff;
}

body {
  background: #f8f5ec;
}